
.footer {
	margin-top: rem;
	font-family: var(--p-font);
}
.footer__title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 5rem;
}
.footer__title p {
	font-size: 45px;
	line-height: 53px;
	text-align: center;
	color: #313131;
	margin-bottom: 2rem;
}
.custom_btn {
	width: 225px;
	height: 58px;
	box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1),
		0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259),
		0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407),
		0px 20px 13px rgba(49, 49, 49, 0.05),
		0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593),
		0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
	border-radius: 5px;
}

.footer_links {
	position: relative;
}
.inner_footer_links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer_box h2 {
	margin-bottom: 1rem;
}
.footer_box h3 {
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 1rem;
	color: #1c1c1d;
}
.footer_box p {
	font-size: 16px;
	color: #313131;
}
.footer_box .social_links {
	display: flex;
	padding: 1rem 0;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}
.input {
	background: #f2f2f2;
	border-radius: 4px;
	padding: 0 1rem;
    display: flex;
    align-items: center;justify-content: center;
}
.input input {
	width: 174px;
	height: 40px;
	background: #f2f2f2;
	outline: none;
	border: none;
}
.icon {
	width: 16px;
	height: 16px;
    cursor: pointer;
}
.copyRight{
	text-align: center;
	background:#f2f2f2 ;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* responsive  */
@media screen  and (max-width:565px) {
	.footer__title p{
		font-size: 38px;
		line-height: 48px;
	}
	.inner_footer_links {
		flex-wrap: nowrap;
		margin-bottom: 5rem;
	}
	.footer_box h2{
		font-size: unset;
	}
	.footer_box h3{
		font-size: unset;
	}
	.footer_box p{
		font-size: 14px;
	}
	.get-in-touch{
		position: absolute;
		bottom: -70px;

	}
	.input input{
		width: 100px;
	}
}
